
<div class="container form-group" id="sidebar">

	<%= form_for @snp_file do |f| %>
	
		<%= f.label :file %> 
		<%= f.file_field :polymarker_input, :required => true, :accept => ".csv" %>
		<br/><br/>
		<%= f.label :reference %>
		<%= f.select(:reference) do %>
			<% Reference.all.each do |ref| -%>
				<%= content_tag(:option, ref.name, value: ref.name, "data-descriptipn": ref.description) %>				
			<% end %>
		<% end %>
		<br/>
		<%= f.label :email %> 
		<%= f.text_field :email, type:"email", class: "form-control" %> (optional)
		<br/><br/>
		<%= f.submit "Create Primers" %>
		<br/>

		Your email will only be used to send you updates in the status of your job and will be deleted upon completion. 

	<% end %>  
</div>
