
<div class="container form-group" id="sidebar">

	<%= form_for @snp_file do |f| %>
	

		<button type="button" class="button-link-style" id="fileShow">File</button><span>/</span>
		<button type="button" class="button-link-style" id="manInputShow">Manual Input</button>
		<br/><br/>
		<div id="fileInputCont">
			<%= f.label :file, for: "fileInput" %>
			<%= f.file_field :polymarker_input, :required => true, :accept => ".csv", class: "form-control-file", id: "fileInput" %>
		</div>
		<div id="manInputCont" style="display: none;">
			<label for="manualInput">Manual Input</label>
			<textarea id="manualInput" name="polymarker_manual_input" placeholder="Enter your input manually" class="form-control"></textarea>
			<br/>
			<button id="populateExample" class="btn btn-warning" type="button">Example</button>
		</div>

		<br/><br/>
		<%= f.label :reference %>
		<%= f.select(:reference) do %>
			<% Reference.all.each do |ref| -%>
				<%= content_tag(:option, ref.name, value: ref.name, "data-descriptipn": ref.description, class: "reference") %>				
			<% end %>
		<% end %>
		<br/>
		<%= f.label :email %> 
		<%= f.text_field :email, type:"email", class: "form-control" %> (optional)
		<br/><br/>
		<%= f.submit "Create Primers" %>
		<br/>

		Your email will only be used to send you updates in the status of your job and will be deleted upon completion. 

	<% end %>  

	<br/>
	<h3>Reference Description</h3>
	<ul>
		<% Reference.all.each do |ref| %>
			<%= label_tag(ref.description, nil, id: ref.name.gsub(/[[:space:],\., \(, \)]/, '').tr("0-9", ""), class: "refDes") %><br><br>
		<% end %>		
	</ul>


</div>
