
<div class="form-group" id="sidebar">

	<%= form_for @snp_file do |f| %>
	<%= f.label :email %> 
	<%= f.text_field :email, class: "form-control" %><br/>
	<%= f.label :file %> 
	<%= f.file_field :polymarker_input %><br/>
	<%= f.submit "Upload" %></p><br/>
	<% end %>  

</div>
