
<div class="container form-group" id="sidebar">

	<%= form_for @snp_file do |f| %>
			
		<div id="fileInputCont">
			<%= f.label :file, for: "fileInput" %>
			<%= f.file_field :polymarker_input, :required => true, :accept => ".csv", class: "form-control-file", id: "fileInput" %>
		</div>
		<br/>
		<span style="color: red;">OR</span>
		<br/>
		<div id="manInputCont">
			<label for="manualInput">Manual Input</label>			
			<%=text_area(:polymarker_manual_input, :post, class: "form-control", id: "manualInput", placeholder: "Enter your input manually", :required => true)%>
			<br/>
			<button id="populateExample" class="btn btn-warning" type="button">Example</button>
			<button id="clearInput" class="btn" type="button">Clear Input</button>
			<div class="refSelectContainer">
				<h3>Reference Description</h3>				
				<%= f.select(:reference) do %>
					<% Reference.all.each do |ref| -%>
						<%= content_tag(:option, ref.name, value: ref.name, "data-descriptipn": ref.description, class: "reference") %>				
					<% end %>
				<% end %>
				<br/><br/>
				<div class="refDesContainer">					
					<% Reference.all.each do |ref| %>				
						<%= MarkdownHandler::compile_md(ref.description) %>
					<% end %>							
				</div>				
			</div>			
		</div>

		<br/>		
		<br/>
		<div class="emailContainer">
			<%= f.label :email %> 
			<%= f.text_field :email, type:"email", class: "form-control" %> (optional)
		</div>
		<div class="refDesContainer">
		</div>
		<br/>	
		<br/><br/>
		<%= f.submit "Create Primers" %>
		<br/>

		Your email will only be used to send you updates in the status of your job and will be deleted upon completion. 

	<% end %>  

	<br/>
	


</div>
