<h2><%= @snp_file.filename%></h2>

<div>
Status: <%= @snp_file.status %> <br/>
Reference: <%= @snp_file.reference %> <br/>
</div>

<div>
<h3>Markers file</h3>
<div>

<div id="jqGridPager"></div>
<table>
	<tr>
		<th>Marker</th>
		<th>Chromosome</th>
		<th>Sequence</th>
	</tr>
	<% @snp_file.snps.each_pair do |key, val| %>
	<tr>

		<td><%= val[0] %></td>
		<td><%= val[1] %></td>
		<td><%= val[2] %></td>
	</tr>
	<% end %>

</table>
</div>
<h4>Ignored lines</h4>
<div>
 <% @snp_file.not_parsed.each do |line| %>
 	<%= line %> </br>
 <% end %>
</div>
</div>

<script type="text/javascript">
        $(document).ready(function () {
            $("#jqGrid").jqGrid({
                url: 'http://trirand.com/blog/phpjqgrid/examples/jsonp/getjsonp.php?callback=?&qwery=longorders',
                mtype: "GET",
                datatype: "jsonp",
                colModel: [
                    { label: 'OrderID', name: 'OrderID', key: true, width: 75 },
                    { label: 'Customer ID', name: 'CustomerID', width: 150 },
                    { label: 'Order Date', name: 'OrderDate', width: 150,
					formatter : 'date', formatoptions: { srcformat : 'Y-m-d H:i:s', newformat :'ShortDate'}},
                    { label: 'Freight', name: 'Freight', width: 150 },
                    { label:'Ship Name', name: 'ShipName', width: 150 }
                ],
				viewrecords: true,
                width: 780,
                height: 250,
                rowNum: 20,
                pager: "#jqGridPager"
            });
        });

   </script>
