<h2><%= @snp_file.filename%></h2>

<div>
Status: <%= @snp_file.status %> <br/>
Reference: <%= @snp_file.reference %> <br/>
</div>

<hr>
<h3>Download Data</h3>
<%= link_to "Mask", controller: "snp_files", action: "get_mask_file", marker: "mask_fasta", id: @snp_file.id, format: "fa"%>
<br>
<%= link_to "Primers", controller: "snp_files", action: "get_primers", marker: "polymarker_output", id: @snp_file.id, format: "csv"%>

<hr>
<div>
<h3>Markers file</h3>
<div>

<div id="input_grid"  style="width: 100%; height: 500px"></div>

</div>

<hr>
<h3>Ignored lines</h3>
<div>
 <% @snp_file.not_parsed.each do |line| %>
 	<%= line %> </br>
 <% end %>
</div>
</div>

<div id="alignment_mask" style="max-width: 100%; overflow-x: scroll" >

</div>


<script type="text/javascript" defer>

	function refreshPage(){
				
		var refreshSeconds = 10000;		
		if(!<%= @is_done %>){

			if(typeof sessionStorage.refreshSeconds === 'undefined'){
				sessionStorage.setItem('refreshSeconds', 20000);
			} else {
				refreshSeconds = Number(sessionStorage.getItem('refreshSeconds'));
				if((refreshSeconds+20000) <= 60000){					
					sessionStorage.setItem('refreshSeconds', (refreshSeconds+20000));
				}
			}		

			setTimeout(function(){
				window.location.reload();
			}, refreshSeconds);

		} else {
			delete sessionStorage.refreshSeconds;
		}

	}

	$(document).ready(function () {
		refreshPage();
		var local_msa = setup_msa_div("alignment_mask");
		load_primers_table('<%= @snp_file.id  %>',
			 'input_grid' ,
			  true, 
			  local_msa);			
	});	

</script>
