<h2><%= @snp_file.filename%></h2>

<div>
Status: <%= @snp_file.status %> <br/>
Reference: <%= @snp_file.reference %> <br/>
</div>

<div>
<h3>Markers file</h3>
<div>

<div id="input_grid"></div>
<table>
	<tr>
		<th>Marker</th>
		<th>Chromosome</th>
		<th>Sequence</th>
	</tr>
	<% @snp_file.snps.each_pair do |key, val| %>
	<tr>

		<td><%= val[0] %></td>
		<td><%= val[1] %></td>
		<td><%= val[2] %></td>
	</tr>
	<% end %>

</table>
</div>
<h4>Ignored lines</h4>
<div>
 <% @snp_file.not_parsed.each do |line| %>
 	<%= line %> </br>
 <% end %>
</div>
</div>

<script type="text/javascript">
        $(document).ready(function () {
						var grid_div = $("#jqGrid");
						console.log(grid_div);

            $("#input_grid").w2grid({
							name: 'input_grid'
						});
					});

   </script>
