<h2><%= @snp_file.filename%></h2>

<div>
Status: <%= @snp_file.status %> <br/>
Reference: <%= @snp_file.reference %> <br/>
</div>

<div>
<h3>Markers file</h3>
<div>

<div id="input_grid"  style="width: 900px; height: 500px"></div>

</div>
<h4>Ignored lines</h4>
<div>
 <% @snp_file.not_parsed.each do |line| %>
 	<%= line %> </br>
 <% end %>
</div>
</div>

<div id="alignment_mask">

</div>

<script type="text/javascript">
	$(document).ready(function () {
		load_primers_table('<%= @snp_file.id  %>', 'input_grid' );
		//l_msa = setup_msa_div("alignment_mask");
		//console.log(l_msa.u);
		var local_msa = setup_msa_div("alignment_mask");
		load_mask('<%= @snp_file.id  %>', 
			'<%= @snp_file.snps.keys[1]  %>', local_msa)
	});

</script>
