
 
<select id="chartSelect">
<% @plot_ids.each do |p| %>
   <option value=<%= p.div_id %> > <%= p.description %> </option>
<% end %>
</select>

<div class="container">
	<canvas id="chart_canvas"></canvas>
</div>


<script type="text/javascript">
    //var colorNames = Object.keys(window.chartColors);
    var data = <%= raw @plots.to_json  %>
    console.log(data)
    function renderChart(data, div_id, title) {
        var ctx = document.getElementById(div_id).getContext('2d');
        var labels = data["all_months"];
        var datasets =  data["datasets"]; 
        var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: datasets
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: title
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                }],
                yAxes: [{
                    display: true,
                    type: 'logarithmic',
                }]
            }
        }
    });
}

$(function() {
  // Handler for .ready() called.
  var first="<%= @plot_ids.first.div_id %>"
  var desc="<%= @plot_ids.first.description %>"
  var tmp_data = data[first] ;
  renderChart(tmp_data, "chart_canvas", desc);
});

$("#chartSelect").click(
	
   
);


</script>