<!DOCTYPE html>
<html>
<head>
	<title>PolyMarker</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	<%= javascript_pack_tag 'application' %>	
</head>

<body id="page-wrap" class="container">

	<!-- Logo -->
	<div id='logo'>		
		<%= image_tag "polymarker_header.png", :class => "logo_image"%>		
	</div>

    <!-- Navigation -->
	<nav class="navbar">
		<ul >
			<li>
				<%= link_to "Request primers", root_path %>
			</li>
			<li>
				<%= link_to "Designed primers", "designed_primers" %>
			</li>

			<li>
				<%= link_to "About", "about" %>
			</li>
		</ul>
	</nav>

	<!-- Content -->
	<div id="main-body">
		<%= yield %>
	</div>

</body>
</html>
