<!DOCTYPE html>
<html>
<head>
	<title>PolyMarker</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	<%= javascript_pack_tag 'application' %>


</head>

<body id="page-wrap">
	<%= image_tag "polymarker_header.png" %>
	<!-- Use this navigation div as your menu bar div -->
	<div class="navigation">
		<ul class="nav">
			<li>
				<%= link_to "Request primers", root_path %>
			</li>
			<li>
				<%= link_to "Designed primers", "designed_primers" %>
			</li>

			<li>
				<%= link_to "About", "about" %>
			</li>
		</ul>
	</div>
	<div id="main-body">
		<%= yield %>
	</div>
</body>
</html>
