<!DOCTYPE html>
<html>
<head>
	<title>PolyMarker</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	<%= javascript_pack_tag 'application' %>	
</head>

<body class="container-fluid">

	<!-- Header -->
	<div id="header">
		<!-- Logo -->		
		<%= image_tag "polymarker_header.png", :class => "logo_image"%>				

	    <!-- Navigation -->
		<nav class="navbar">		
			<%= link_to "Create Primers", root_path, :onclick => "runOnPageChange()"%>
			<%= link_to "Primers for SNP-chips", "/designed_primers", :onclick => "runOnPageChange()" %>
			<%= link_to "About", "/about", :onclick => "runOnPageChange()" %>
		</nav>
	</div>	

	<!-- Error messages -->
	<% flash.each do |key, value| %>

		<div class="alert <%= key %>">
			<p> <%= value %>  </p>
		</div>

	<% end %>	

	<!-- Content -->
	<div id="main-body">
		<%= yield %>
	</div>

	<!-- Footer -->
	<div class="footer" >
		<%= image_tag("jic.png", class: "logo" ) %>
		<%= image_tag("EI.png", class: "logo" ) %>
		<%= image_tag("bbsrc.png", class: "logo" ) %>
		<%= image_tag("iwyp.png", class: "logo" ) %>
		<%= image_tag("DFW.jpg", class: "logo" ) %>
	</div>

</body>
</html>
