<!DOCTYPE html>
<html>
<head>
	<title>PolyMarker</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	<%= javascript_pack_tag 'application' %>	
</head>

<body class="container-fluid">

	<!-- Header -->
	<div id="header">
		<!-- Logo -->
		<div id='logo' >		
			<%= image_tag "polymarker_header.png", :class => "logo_image"%>		
		</div>

	    <!-- Navigation -->
		<nav class="navbar">		
			<%= link_to "Request primers", root_path %>			
			<%= link_to "Designed primers", "designed_primers" %>			
			<%= link_to "About", "about" %>			
		</nav>
	</div>	

	<!-- Content -->
	<div id="main-body">
		<%= yield %>
	</div>

	<!-- Footer -->


</body>
</html>
